<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb">
<head>
    <title>Greenwich Freecycle Home</title>
    <link rel="stylesheet" href="../Content/bootstrap.min.css" />
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="../Controller/Index.php">
                    <img alt="Greenwich Freecycle" src=".."/>
                </a>
            </div>
            <form class="form-inline" action="../Controller/login.php" method="post">
                <div class="form-group, text-right">
                    <label for="usernameInput">Username</label>
                    <input type="text" class="form-control" placeholder="Username" id="usernameInput" name="usernameInput"/>
                    <label for="usernameInput">Password</label>
                    <input type="password" class="form-control" placeholder="Password" id="passwordInput" name="passwordInput"/>
                    <button type="submit" class="form-control" value="post">Login</button>
                    <a href="../Controller/Register.php">Register for an account</a>
                </div>
            </form>
        </div>
    </nav>
</body>
</html>