<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb">
<head>
    <title>Greenwich Freecycle My Adverts</title>
    <link rel="stylesheet" href="../Content/bootstrap.min.css" />
</head>
<body>
    {{topNav}}
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="../Controller/MyAccount.php">Home</a></li>
        <li role="presentation"><a href="#">Profile</a></li>
        <li role="presentation"><a href="#">Messages</a></li>
        <li role="presentation" class="active"><a href="#">My Adverts</a></li>
    </ul>
<div class="container">
    {{searchResults}}
    <div class="row">
        <h2>Search Greenwich Freecycle</h2>
        <a href="../Controller/AddAdvert.php">Add new advert</a>
    </div>
</div>
</body>
</html>